<section class="form-elegant">
<center><h1><center> Show Us your new art </center></h1>
<div class="infoContainer">
    <% if @art.errors.any? %>
        <h2>The following errors prevented the article from saving:</h2>
        <ul>
        <% @art.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
        <% end %>
        </ul>
    <% end %>
</div>
<div class="uploadContainer">
    <%= form_with model: @art, local: true  do |form| %>
        <%= form.text_area :title, class: "form-control", placeholder: "Title" %><br><br>
        <hr />
        <%= form.file_field :image, class: "form-control" %><br>
        <hr />
        <%= form.text_area :description, class: "form-control", placeholder: "Description" %><br><br>
        <hr />
        <div class="text-center mb-3">
            <%= form.submit "That's my new art!", class: "btn-grad btn-rounded" %>
        </div>
    <% end %>
</div></center>
</section>