<% if user_signed_in? %> #&& current_user.user? %>
  <nav class="navbar navbar-expand-lg   navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ArtAForge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">

        </li>
        <li class="nav-item">

        </li>

      </ul>
      <ul class="navbar-nav mr-sm-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Join ArtA
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= current_user.fullname %>
            <%= link_to 'Profile', new_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Edit', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<% elsif !user_signed_in? %>  
  <nav class="navbar navbar-expand-lg   navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ArtAForge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">

      </li>
      <li class="nav-item">

      </li>

    </ul>
    <ul class="navbar-nav mr-sm-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Join ArtA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Sing up', new_user_registration_path, class: 'dropdown-item' %>
          <%= link_to 'Log in', new_user_session_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
  </nav>
  <% end %>